# Python
*.pyc
*.pyo
*.egg-info/
*.pyd
*.lib

# Jupyter
.ipynb_checkpoints

# IDE
.vscode
.idea
*.wpr
*.wpu
.vs
x64

# Temp
build
dist
*.local

# vn.py
.vntrader

# Visual Studio intermediate files
*.exp
*.iobj
*.ipdb
*.pdb

# Visual Studio settings
PythonSettings.json
*.pyproj*
*.sln
*.vcxproj

# Documents
_build
_static
_templates

# Misc
.DS_Store